.header {
    text-align: center;
}
.hobbies, .bands, .languages {
    font-family: Arial;
}
.cyan {
    color: cyan;
}
.hobbies-sec, .languages-sec {
    background-color: green;
    color: white;
}
#strike {
    text-decoration: line-through;
}